doctype
html(ng-app="myApp")
  head
    meta(name="viewport", content="initial-scale=1")
    meta(charset="UTF-8")

    title App Lista de Contatos

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/style.css")

    //- script(src="templates/angular.min.js")
    //- script(src="templates/angular-route.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js")
    script(src="js/controllers/controller.js")

  body(ng-controller="AppCtrl")
    h1 Cadastro de Contatos

    nav(id="menu")
      button.btn.btn-primary(id="btnCadastro")
        a(id="cadastro", href="#home") Cadastro

    ng-view

      //- <button class="btn btn-primary" ng-click="addContact()">Adicionar Contato</button>
      //- <iframe src="http://localhost:3000/" name="janela" id="frame-spec"></iframe>

      //- <input ng-model="test">
      //-   {{test}}


    footer(id="rodape")
      p Copyright 2016 &copy; - by Igor Costa
